@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #2199df;
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

buttom,
input[type = "submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul, ol{
    margin: 1em 0;
}

.page{
    padding: 1rem;
}

.container{
    margin: 0 auto;
    max-width: 700px;

}


body {
    font-family: "Roboto", sans-serif;
}


#header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7952b3;
}
#header .title {
    margin: 0;
    padding: 1rem;
    color: #ffffff;

}
#header .auth-options{
    height: 100%;
    display: flex;
}

.abc {
    margin-left: 100px;
}

#header .auth-options button{
    padding: 0 2rem;
    background-color: #6628bf;
    color: #ffffff;
    font-size: 1.1rem;
}
#header .auth-options button:hover{
    background-color: #5d3794;
}

.form label,
.form input{
    display: block;
}
.form input{
    margin-bottom: 1rem;
}
.form label{
    margin-bottom: 0.2rem;
}
.form input[type = "text"],
.form input[type = "password"],
.form input[type = "email"]{
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    background-color: #f0f0f0;
    font-size: 1.1rem;
}
.form input:focus {
    border: 1px solid #50a4e9;
    box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
    outline: none;
}
.form input[type="submit"]{
    padding: 0.3rem 0.5rem;
    border: 1px solid #7557ac;
    border-radius: 8px;
    background-color: #6628bf;
    color: #ffffff;
    font-size: 1.1rem;
}

.form button {
    padding: 0.3rem 0.5rem;
    border: 1px solid #7557ac;
    border-radius: 8px;
    background-color: #6628bf;
    color: #ffffff;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

button {
    padding: 0.3rem 0.5rem;
    border: 1px solid #7557ac;
    border-radius: 8px;
    background-color: #6628bf;
    color: #ffffff;
    font-size: 1.1rem;
}

.error-notice {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #6628bf;
    color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a00ff;
}

.error-notice button {
    border: 1px solid #6a00ff;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #6a00ff;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
